.searchMenu {
  display: flex;
  align-items: center;
  padding: 1em;
  justify-content: center;
  -webkit-box-shadow: 0 10px 40px -10px rgba(0,0,0,0.60);
  -moz-box-shadow: 0 10px 40px -10px rgba(0,0,0,0.60);
  box-shadow: 0 10px 40px -10px rgba(0,0,0,0.60);
  border-radius: 4px;
  margin: 2em auto;
  background: white;
  max-width: 50%;
  min-width: 350px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
.searchMenu:hover {
  transform: scale(1.1);
}
.searchMenu:focus-within  {
  transform: scale(1.1);
}

.input {
  width: 300px;
  @media only screen and (max-width: 1000px) {
    width: 150px;
  }
}
.fab {
  margin: 0 2em;
  @media only screen and (max-width: 1000px) {
    margin: 0 0.2em;
  }
}
.sendIcon {
  margin: 0 0.5em;
}
.inputLabel {
  transform: scale(0.7) !important;
  @media only screen and (max-width: 600px) {
    transform: scale(.5) !important;;
  }
}