.header {
  display: flex;;
  align-items: center;
  background: url("../../assets/images/background.jpg") no-repeat center ;
  background-size: cover;
  height: 24em;
}

.avatar {
  margin: 2em 5em 2em 15em;
}

@font-face {
  font-family: nunito;
  src: url(../../assets/fonts/Nunito-Regular.ttf);
}

.name {
  font-size: 3em;
  padding: 0.2em 0;
  color: 	#3d354b;
  font-family: nunito ;
}

.underName {
  @extend .name;
  font-size: 1.5em;
}

.iconArea {
  margin: 2em 0 0 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 4em;
  padding: 1em;
  opacity: 0.6;
  transition: opacity ease-in-out 0.3s;
  background: fixed center;
}

.icon:hover {
  opacity: 1;
}