.header {
  display: flex;;
  align-items: center;
  background: url("../../assets/images/background.jpg") no-repeat right;
  background-size: cover;
  height: 24em;
  @media only screen and (max-width: 1500px) {
    height: 20em;
  }
  @media only screen and (max-width: 1280px) {
    height: 17em;
  }
  @media only screen and (max-width: 950px) {
    height: 14em;
  }
  @media only screen and (max-width: 800px) {
    height: 13em;
  }
  @media only screen and (max-width: 600px) {
    height: 10em;
  }
  @media only screen and (max-width: 450px) {
    height: 7em;
  }
}

.avatar {
  margin: 2em 5em 2em 15em;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background: url("../../assets/images/zdj.png") no-repeat center;
  background-size: cover;
  @media only screen and (max-width: 1500px) {
    margin: 2em 5em 2em 10em;
    width: 180px;
    height: 180px;
  }
  @media only screen and (max-width: 1280px) {
    margin: 2em 4em 2em 5em;
    width: 150px;
    height: 150px;
  }
  @media only screen and (max-width: 800px) {
    margin: 2em 2em 2em 3em;
    width: 120px;
    height: 120px;
  }
  @media only screen and (max-width: 600px) {
    margin: 2em 1em 2em 1em;
    width: 90px;
    height: 90px;
  }
  @media only screen and (max-width: 450px) {
    margin: 2em 0.5em 2em 0.7em;
    width: 60px;
    height: 60px;
  }
}

@font-face {
  font-family: nunito;
  src: url(../../assets/fonts/Nunito-Regular.ttf);
}

@font-face {
  font-family: MuliRegular;
  src: url(../../assets/fonts/Muli-Regular.ttf);
}

.name {
  font-size: 3em;
  padding: 0.2em 0;
  white-space: nowrap;
  color: 	#3d354b;
  font-family: MuliRegular ;
  @media only screen and (max-width: 1500px) {
    font-size: 2.5em;
  }
  @media only screen and (max-width: 1280px) {
    font-size: 2em;
  }
  @media only screen and (max-width: 800px) {
    font-size: 1.5em;
    padding: 0.1em 0;
  }
  @media only screen and (max-width: 600px) {
    font-size: 1em;
    padding: 0.05em 0;
  }
  @media only screen and (max-width: 450px) {
    font-size: 0.8em;
  }
}

.underName {
  @extend .name;
  font-size: 1.5em;
  white-space: nowrap;
  @media only screen and (max-width: 1500px) {
    font-size: 1.2em;
  }
  @media only screen and (max-width: 1280px) {
    font-size: 1em;
  }
  @media only screen and (max-width: 800px) {
    font-size: 0.9em;
  }
  @media only screen and (max-width: 600px) {
    font-size: 0.7em;
  }
  @media only screen and (max-width: 450px) {
    font-size: 0.55em;
  }
}

