@font-face {
  font-family: MuliRegular;
  src: url(../../assets/fonts/Muli-Regular.ttf);
}

.groupProject {
    display: flex;
}
.container {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1400px) {
    display: grid;
  }
}
.subContainer {
  @media only screen and (max-width: 1400px) {
    justify-content: center;
    display: grid;
  }
}

.subContainer2 {
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 900px) {
    display: grid;
  }
}

.aboutMeContainer{
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
  color: #3d354b
}

.chip {
  margin: 5px;
}