@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(10%);
  }
  75% {
    transform: translateX(-5%);
  }
  95% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(-10%);
  }
  75% {
    transform: translateX(5%);
  }
  90% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slider {
  margin: 2em 0;
  width: 75%;
  -webkit-box-shadow: 13px 8px 35px -3px rgba(0,0,0,0.38);
  -moz-box-shadow: 13px 8px 35px -3px rgba(0,0,0,0.38);
  box-shadow: 13px 8px 35px -3px rgba(0,0,0,0.38);
  @media only screen and (max-width: 800px) {
    margin: 2em auto;
    width: 90%;
    -webkit-box-shadow: 0px 8px 35px -3px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 8px 35px -3px rgba(0,0,0,0.38);
    box-shadow: 0px 8px 35px -3px rgba(0,0,0,0.38);
  }
  animation-duration: 1s; /* the duration of the animation */
  animation-timing-function: ease-in-out; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: slideInFromLeft; /* the name of the animation we defined above */
  -webkit-animation-duration: 1s; /* the duration of the animation */
  -webkit-animation-timing-function: ease-in-out; /* how the animation will behave */
  -webkit-animation-delay: 0s; /* how long to delay the animation from starting */
  -webkit-animation-iteration-count: 1; /* how many times the animation will play */
  -webkit-animation-name: slideInFromLeft; /* the name of the animation we defined above */
  transition: all 0.2s ease-in-out ;
}

.sliderRight {
  @extend .slider;
  -webkit-box-shadow: -12px 8px 35px -3px rgba(0,0,0,0.38);
  -moz-box-shadow: -12px 8px 35px -3px rgba(0,0,0,0.38);
  box-shadow: -12px 8px 35px -3px rgba(0,0,0,0.38);
  margin: 0 0 0 auto;
  @media only screen and (max-width: 800px) {
    margin: 2em auto;
    width: 90%;
    -webkit-box-shadow: 0px 8px 35px -3px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 8px 35px -3px rgba(0,0,0,0.38);
    box-shadow: 0px 8px 35px -3px rgba(0,0,0,0.38);
  }
  animation-duration: 1s; /* the duration of the animation */
  animation-timing-function: ease-in-out; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: slideInFromRight; /* the name of the animation we defined above */
  -webkit-animation-duration: 1s; /* the duration of the animation */
  -webkit-animation-timing-function: ease-in-out; /* how the animation will behave */
  -webkit-animation-delay: 0s; /* how long to delay the animation from starting */
  -webkit-animation-iteration-count: 1; /* how many times the animation will play */
  -webkit-animation-name: slideInFromRight; /* the name of the animation we defined above */
}

.slider:hover {
  transform: scale(1.05);
}

.logo {
  width: 5em;
  height: 5em;
  @media only screen and (max-width: 800px) {
    width: 2.5em;
    height: 2.5em;
  }
}

.container {
  margin: 0 auto;
  padding: 2em;
  width: 65%;
  @media only screen and (max-width: 800px) {
    width: 80%;
  }
}
.arrow {
  margin-top: -1em;
}
.typoLeft {
  width: 60%;
  padding: 1em;
  background: #917e9a;
  @media only screen and (max-width: 800px) {
    padding: 0.5em;
  }
}

.typoRight {
 @extend .typoLeft;
  margin: 0 0 0 auto;
}

h2 {
  margin: 0;
  text-align: center;
  color: white;
  font-weight: 400;
  @media only screen and (max-width: 800px) {
    font-size: 1em;
  }
}

