
.card {
    max-width: 450px;
    min-width: 300px;
    margin: 2em;
}

.media {
    width: 70% !important;
    height: 45px !important;
    padding: 2em !important;
}

.cardActions {
    display: flex;
    justify-content: space-between;
}

.typo {
    margin: 1em 0;
}
