@font-face {
  font-family: nunito;
  src: url(../../assets/fonts/Nunito-Regular.ttf);
}

.aboutMe {
  color: #3d354b;
  display: flex;
  justify-content: center;
  margin: 2em;
  font-family: nunito;
  @media only screen and (max-width: 1200px) {
    display: grid;
  }
}
.aboutMeContainer{
  @media only screen and (max-width: 650px) {
    display: grid;
  }
  justify-content: center;
}
.infoImage {
  width: 600px;
  @media only screen and (max-width: 650px) {
    width: 350px;
  }
}

.container {
  width: 500px;
  margin: 1em auto;
  @media only screen and (max-width: 650px) {
    width: 300px;
  }
}

.image > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 750px;
  @media only screen and (max-width: 650px) {
    height: 500px;
  }
}

.chip {
  margin: 5px;
}